Repository containerd/runwasi, pull requests merged in 2025-02, with the labels that each got.

#837 docs: improve the docs for containerd-shim-wasm crate
  README.md
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/README.md
  crates/containerd-shim-wasm/src/container/context.rs
  crates/containerd-shim-wasm/src/container/engine.rs
  crates/containerd-shim-wasm/src/container/mod.rs
  crates/containerd-shim-wasm/src/container/path.rs
  crates/containerd-shim-wasm/src/sandbox/cli.rs
  crates/containerd-shim-wasm/src/sandbox/instance_utils.rs
  crates/containerd-shim-wasm/src/sandbox/mod.rs
  crates/containerd-shim-wasm/src/sandbox/sync.rs
Labels: T-docs, C-containerd-shim-wasm

#828 Use a dedicated zygote process per container
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/src/sys/unix/container/container.rs
  crates/containerd-shim-wasm/src/sys/unix/container/instance.rs
  crates/containerd-shim-wasm/src/sys/unix/container/mod.rs
Labels: C-containerd-shim-wasm

#840 change: Rename the image wasi-http to wasi-demo-http
  .github/workflows/release-wasi-demo-app.yml
  Makefile
  crates/containerd-shim-wasmtime/README.md
Labels: T-CI, C-wasmtime

#850 fix: Corrected description of containerd_address from GRPC to ttrpc
  crates/containerd-shim-wasm/src/sandbox/instance.rs
Labels: C-containerd-shim-wasm

#852 Revert "fix: Corrected description of containerd_address from GRPC to ttrpc"
  crates/containerd-shim-wasm/src/sandbox/instance.rs
Labels: C-containerd-shim-wasm

#851 .github/workflows/benchmarks: fix the image path
  .github/workflows/benchmarks.yml
Labels: T-CI

#853 tracing: add parameters info to the trace instead of skipping them
  crates/containerd-shim-wasm/src/sandbox/cli.rs
  crates/containerd-shim-wasm/src/sandbox/containerd/client.rs
  crates/containerd-shim-wasm/src/sandbox/instance.rs
  crates/containerd-shim-wasm/src/sandbox/instance_utils.rs
  crates/containerd-shim-wasm/src/sandbox/shim/cli.rs
  crates/containerd-shim-wasm/src/sandbox/shim/instance_data.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local.rs
  crates/containerd-shim-wasm/src/sandbox/shim/task_state.rs
  crates/containerd-shim-wasm/src/sys/unix/container/executor.rs
  crates/containerd-shim-wasm/src/sys/unix/container/instance.rs
  crates/containerd-shim-wasm/src/sys/unix/metrics.rs
  crates/containerd-shim-wasmtime/src/instance.rs
Labels: C-wasmtime, C-containerd-shim-wasm

#830 feat(stress-test): add a new stress-test that runs container workload with Containerd
  .github/workflows/action-build.yml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/stress-test/Cargo.toml
  crates/stress-test/src/containerd/client.rs
  crates/stress-test/src/containerd/containerd.rs
  crates/stress-test/src/containerd/mod.rs
  crates/stress-test/src/containerd/shim.rs
  crates/stress-test/src/containerd/task.rs
  crates/stress-test/src/main.rs
  crates/stress-test/src/mocks/containerd.rs
  crates/stress-test/src/mocks/shim.rs
  crates/stress-test/src/mocks/task.rs
  crates/stress-test/src/traits.rs
  crates/stress-test/src/utils.rs
Labels: T-CI, C-common

#855 Add stress-test to the benchmark CI
  .github/workflows/benchmarks.yml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/containerd-shim-wasm-test-modules/src/modules/fetch_rs.wasm
  crates/stress-test/Cargo.toml
  crates/stress-test/src/main.rs
Labels: T-CI, C-common

#866 chore: bump rust version to 1.85.0 and edition to 2024
  Cargo.toml
  benches/containerd-shim-benchmarks/benches/wasi-demo-app-benchmarks.rs
  crates/containerd-shim-wamr/src/tests.rs
  crates/containerd-shim-wasm-test-modules/build.rs
  crates/containerd-shim-wasm/src/container/context.rs
  crates/containerd-shim-wasm/src/container/engine.rs
  crates/containerd-shim-wasm/src/sandbox/cli.rs
  crates/containerd-shim-wasm/src/sandbox/containerd/client.rs
  crates/containerd-shim-wasm/src/sandbox/containerd/lease.rs
  crates/containerd-shim-wasm/src/sandbox/error.rs
  crates/containerd-shim-wasm/src/sandbox/shim/cli.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local/tests.rs
  crates/containerd-shim-wasm/src/sandbox/shim/mod.rs
  crates/containerd-shim-wasm/src/sandbox/shim/otel.rs
  crates/containerd-shim-wasm/src/sandbox/sync.rs
  crates/containerd-shim-wasm/src/sys/unix/container/container.rs
  crates/containerd-shim-wasm/src/sys/unix/container/executor.rs
  crates/containerd-shim-wasm/src/sys/unix/container/instance.rs
  crates/containerd-shim-wasm/src/test/signals.rs
  crates/containerd-shim-wasm/src/testing.rs
  crates/containerd-shim-wasmedge/src/tests.rs
  crates/containerd-shim-wasmer/src/tests.rs
  crates/containerd-shim-wasmtime/src/http_proxy.rs
  crates/containerd-shim-wasmtime/src/instance.rs
  crates/containerd-shim-wasmtime/src/tests.rs
  crates/oci-tar-builder/src/bin.rs
  crates/oci-tar-builder/src/lib.rs
  crates/stress-test/src/containerd/client.rs
  crates/stress-test/src/containerd/task.rs
  crates/stress-test/src/main.rs
  crates/stress-test/src/mocks/containerd.rs
  crates/stress-test/src/mocks/shim.rs
  crates/stress-test/src/mocks/task.rs
  crates/stress-test/src/utils.rs
  rust-toolchain.toml
Labels: C-wasmtime, T-benchmarks, C-common, C-containerd-shim-wasm, C-wamr, C-wasmedge, C-wasmer

#865 [stress-test] Add support for native containers
  Cargo.lock
  crates/stress-test/Cargo.toml
  crates/stress-test/protos/github.com/containerd/containerd/api/runtime/task/v3/shim.proto
  crates/stress-test/src/containerd/client.rs
  crates/stress-test/src/containerd/containerd.rs
  crates/stress-test/src/containerd/task.rs
  crates/stress-test/src/main.rs
  crates/stress-test/src/mocks/containerd.rs
  crates/stress-test/src/mocks/mod.rs
  crates/stress-test/src/mocks/shim.rs
  crates/stress-test/src/mocks/task.rs
  crates/stress-test/src/mocks/task_client.rs
  crates/stress-test/src/protos.rs
  crates/stress-test/src/traits.rs
Labels: C-common

#862 docs: add benchmarks document
  docs/assets/benchmark-website.png
  docs/benchmarks.md
Labels: T-docs

#861 ci: Add oci and oci-artifact images to stress test
  .github/workflows/benchmarks.yml
  Makefile
  crates/stress-test/src/main.rs
Labels: T-CI, C-common

#867 [stress-test] add default arguments for OCI image
  crates/stress-test/src/containerd/client.rs
  crates/stress-test/src/main.rs
  crates/stress-test/src/mocks/shim.rs
Labels: C-common

#874 Tidy up the changelog
  crates/containerd-shim-wasm/CHANGELOG.md
Labels: C-containerd-shim-wasm

#880 symlink higher level docs ./docs/src etc
  README.md
  docs/src/CONTRIBUTING.md
  docs/src/README.md
  docs/src/RELEASE.md
  docs/src/SUMMARY.md
  docs/src/art/logo/runwasi_icon1.svg
  docs/src/art/logo/runwasi_icon3.svg
Labels: T-docs

#881 [docs] Add mermaid preprocessor to book
  .github/workflows/docs.yml
  CONTRIBUTING.md
  docs/book.toml
  docs/mermaid-init.js
  docs/mermaid.min.js
  typos.toml
Labels: T-CI, T-docs

#884 feat: add tests of runtime options
  crates/containerd-shim-wasm/src/sandbox/shim/local/tests.rs
Labels: C-containerd-shim-wasm

#882 [chore] Remove some redundant accessor methods
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/src/sandbox/instance.rs
  crates/containerd-shim-wasm/src/sandbox/shim/instance_data.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local.rs
  crates/containerd-shim-wasm/src/sys/unix/container/instance.rs
  crates/containerd-shim-wasm/src/testing.rs
Labels: C-containerd-shim-wasm

#885 Use async for the instance's wait method
  README.md
  crates/containerd-shim-wasm/README.md
  crates/containerd-shim-wasm/src/sandbox/async_utils.rs
  crates/containerd-shim-wasm/src/sandbox/instance.rs
  crates/containerd-shim-wasm/src/sandbox/mod.rs
  crates/containerd-shim-wasm/src/sandbox/shim/instance_data.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local/tests.rs
  crates/containerd-shim-wasm/src/sandbox/sync.rs
  crates/containerd-shim-wasm/src/sys/unix/container/instance.rs
  crates/containerd-shim-wasm/src/sys/windows/container/instance.rs
  crates/containerd-shim-wasm/src/testing.rs
Labels: T-docs, C-containerd-shim-wasm

#888 [CI] pin the k3s version
  Makefile
Labels: T-CI
