Repository containerd/runwasi, pull requests merged in 2025-03, with the labels that each got.

#891 Support for k3s using containerd 2.0
  Makefile
  README.md
  test/k3s/bootstrap.sh
Labels: T-CI, T-docs, T-tests

#887 [chore] Remove unused engine field
  README.md
  crates/containerd-shim-wasm/README.md
  crates/containerd-shim-wasm/src/sandbox/cli.rs
  crates/containerd-shim-wasm/src/sandbox/instance.rs
  crates/containerd-shim-wasm/src/sandbox/mod.rs
  crates/containerd-shim-wasm/src/sandbox/shim/cli.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local/tests.rs
  crates/containerd-shim-wasm/src/sys/unix/container/instance.rs
  crates/containerd-shim-wasm/src/sys/windows/container/instance.rs
  crates/containerd-shim-wasm/src/testing.rs
Labels: T-docs, C-containerd-shim-wasm

#898 change `SIGINT` to `SIGQUIT`
  crates/containerd-shim-wasmtime/src/instance.rs
Labels: C-wasmtime

#883 docs: improve readability
  CONTRIBUTING.md
  README.md
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/benchmarks.md
  docs/src/developer/architecture.md
  docs/src/developer/docs.md
  docs/src/developer/roadmap.md
  docs/src/getting-started/demos.md
  docs/src/getting-started/installation.md
  docs/src/getting-started/quickstart.md
  docs/src/opentelemetry.md
  docs/src/resources/community.md
  docs/src/resources/faq.md
  docs/src/resources/troubleshooting.md
Labels: T-docs

#890 Further asyncify the codebase
  Cargo.lock
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/Cargo.toml
  crates/containerd-shim-wasm/README.md
  crates/containerd-shim-wasm/src/sandbox/cli.rs
  crates/containerd-shim-wasm/src/sandbox/containerd/lease.rs
  crates/containerd-shim-wasm/src/sandbox/instance.rs
  crates/containerd-shim-wasm/src/sandbox/mod.rs
  crates/containerd-shim-wasm/src/sandbox/shim/cli.rs
  crates/containerd-shim-wasm/src/sandbox/shim/instance_data.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local.rs
  crates/containerd-shim-wasm/src/sandbox/shim/local/tests.rs
  crates/containerd-shim-wasm/src/sys/unix/container/instance.rs
  crates/containerd-shim-wasm/src/sys/windows/container/instance.rs
  crates/containerd-shim-wasm/src/testing.rs
  typos.toml
Labels: C-containerd-shim-wasm

#878 sandbox/cli: add logger to the container process
  Cargo.lock
  crates/containerd-shim-wasm/Cargo.toml
  crates/containerd-shim-wasm/src/lib.rs
  crates/containerd-shim-wasm/src/sandbox/cli.rs
  crates/containerd-shim-wasm/src/vendor/README.md
  crates/containerd-shim-wasm/src/vendor/containerd_shim/logger.rs
  crates/containerd-shim-wasm/src/vendor/containerd_shim/mod.rs
  crates/containerd-shim-wasm/src/vendor/containerd_shim/sys/mod.rs
  crates/containerd-shim-wasm/src/vendor/containerd_shim/sys/windows/mod.rs
  crates/containerd-shim-wasm/src/vendor/containerd_shim/sys/windows/named_pipe_logger.rs
  crates/containerd-shim-wasm/src/vendor/mod.rs
Labels: C-containerd-shim-wasm

#879 add container ID and pod ID to RuntimeContext and logs
  crates/containerd-shim-wamr/Cargo.toml
  crates/containerd-shim-wamr/src/instance.rs
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/src/container/context.rs
  crates/containerd-shim-wasm/src/container/log.rs
  crates/containerd-shim-wasm/src/container/mod.rs
  crates/containerd-shim-wasm/src/sys/unix/container/executor.rs
  crates/containerd-shim-wasm/src/sys/unix/container/instance.rs
  crates/containerd-shim-wasmedge/Cargo.toml
  crates/containerd-shim-wasmedge/src/instance.rs
  crates/containerd-shim-wasmer/Cargo.toml
  crates/containerd-shim-wasmer/src/instance.rs
  crates/containerd-shim-wasmtime/src/http_proxy.rs
  crates/containerd-shim-wasmtime/src/instance.rs
Labels: C-wasmtime, C-containerd-shim-wasm, C-wamr, C-wasmedge, C-wasmer

#899 Release containerd-shim-wasm: bump version to 0.10.0
  Cargo.lock
  Cargo.toml
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/Cargo.toml
Labels: C-containerd-shim-wasm

#901 ci(benchmarks): ignore non-code files in benchmarks workflow
  .github/workflows/benchmarks.yml
Labels: T-CI

#902 README: add badges
  README.md
Labels: T-docs

#904 ci: Add GitHub Actions workflow for scorecard analysis
  .github/workflows/scorecard-analysis.yml
Labels: T-CI

#911 ci(all): add read-all permission to all workflows
  .github/workflows/action-build.yml
  .github/workflows/action-check.yml
  .github/workflows/action-test-image.yml
  .github/workflows/action-test-k3s.yml
  .github/workflows/action-test-kind.yml
  .github/workflows/action-test-smoke.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-wasi-demo-app.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/sign.yml
Labels: T-CI

#913 Revert "ci(all): add read-all permission to all workflows"
  .github/workflows/action-build.yml
  .github/workflows/action-check.yml
  .github/workflows/action-test-image.yml
  .github/workflows/action-test-k3s.yml
  .github/workflows/action-test-kind.yml
  .github/workflows/action-test-smoke.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-wasi-demo-app.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/sign.yml
Labels: T-CI

#917 Add systemd cgroup support for k3s and k8s
  test/k3s/bootstrap.sh
  test/k8s/Dockerfile
Labels: T-tests

#927 breaking: `shim::cli` is now crate public
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/src/container/mod.rs
  crates/containerd-shim-wasm/src/sandbox/cli.rs
  crates/containerd-shim-wasm/src/sandbox/mod.rs
  crates/containerd-shim-wasm/src/sandbox/shim/mod.rs
  crates/containerd-shim-wasm/src/sandbox/shim/shim.rs
  scripts/verify-jaeger-traces.sh
Labels: T-CI, C-containerd-shim-wasm

#926 containerd-shim-wasm/src/container: updated comments to doc comments for RuntimeContext and PathResolve traits.
  crates/containerd-shim-wasm/src/container/context.rs
  crates/containerd-shim-wasm/src/container/path.rs
Labels: C-containerd-shim-wasm

#877 Add plugin support to WasmEdge runtime
  Cargo.lock
  Cargo.toml
  crates/containerd-shim-wasmedge/Cargo.toml
  crates/containerd-shim-wasmedge/src/instance.rs
Labels: C-wasmedge

#900 docs: Add troubleshooting guide for runwasi shims
  docs/src/resources/troubleshooting.md
Labels: T-docs

#931 make the engine trait async
  Cargo.lock
  crates/containerd-shim-wamr/src/instance.rs
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/Cargo.toml
  crates/containerd-shim-wasm/README.md
  crates/containerd-shim-wasm/src/container/context.rs
  crates/containerd-shim-wasm/src/container/engine.rs
  crates/containerd-shim-wasm/src/container/mod.rs
  crates/containerd-shim-wasm/src/container/tests.rs
  crates/containerd-shim-wasm/src/sandbox/cli.rs
  crates/containerd-shim-wasm/src/sandbox/containerd/client.rs
  crates/containerd-shim-wasm/src/sys/unix/container/executor.rs
  crates/containerd-shim-wasm/src/test/signals.rs
  crates/containerd-shim-wasmedge/src/instance.rs
  crates/containerd-shim-wasmer/src/instance.rs
  crates/containerd-shim-wasmtime/src/instance.rs
Labels: C-wasmtime, C-containerd-shim-wasm, C-wamr, C-wasmedge, C-wasmer

#903 all: Fix broken links and add GitHub Actions workflow for link checking
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CONTRIBUTING.md
  README.md
  crates/containerd-shim-wasmtime/README.md
  docs/src/getting-started/demos.md
  docs/src/getting-started/quickstart.md
  docs/src/resources/community.md
Labels: T-CI, C-wasmtime, T-docs

#933 docs: update architecture doc to introduce the `containerd-shimkit` crate
  docs/src/developer/architecture.md
Labels: T-docs

#944 Move `shim_main` from free function to method in a trait
  crates/containerd-shim-wamr/src/instance.rs
  crates/containerd-shim-wamr/src/main.rs
  crates/containerd-shim-wasm/README.md
  crates/containerd-shim-wasm/src/lib.rs
  crates/containerd-shim-wasm/src/sandbox/cli.rs
  crates/containerd-shim-wasm/src/shim/mod.rs
  crates/containerd-shim-wasm/src/shim/shim.rs
  crates/containerd-shim-wasmedge/src/instance.rs
  crates/containerd-shim-wasmedge/src/main.rs
  crates/containerd-shim-wasmer/src/instance.rs
  crates/containerd-shim-wasmer/src/main.rs
  crates/containerd-shim-wasmtime/src/instance.rs
  crates/containerd-shim-wasmtime/src/main.rs
  crates/containerd-shimkit/src/sandbox/cli.rs
Labels: C-wasmtime, C-containerd-shim-wasm, C-wamr, C-wasmedge, C-wasmer

#945 containerd-shim-wasm/changelog: tidy up
  crates/containerd-shim-wasm/CHANGELOG.md
Labels: C-containerd-shim-wasm

#946 fix release pipeline shimkit
  .github/workflows/release.yml
  Makefile
Labels: T-CI

#947 release: skip the ownership step if the crate is the initial release
  .github/workflows/release.yml
  RELEASE.md
Labels: T-CI, T-docs

#951 containerd-shim-wasm: bump version to 1.0.0 and updated CHANGELOG
  Cargo.lock
  Cargo.toml
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/Cargo.toml
Labels: C-containerd-shim-wasm

#955 Update CHANGELOG.md
  crates/containerd-shim-wasm/CHANGELOG.md
Labels: C-containerd-shim-wasm

#958 [chore] Fix more clippy on Windows
  Cargo.lock
  crates/containerd-shim-wasm/Cargo.toml
  crates/containerd-shim-wasm/src/sys/windows/container/instance.rs
  crates/containerd-shim-wasm/src/sys/windows/metrics.rs
  crates/containerd-shim-wasm/src/sys/windows/mod.rs
  crates/containerd-shim-wasm/src/sys/windows/stdio.rs
Labels: C-containerd-shim-wasm

#959 .github/workflows/release: Update crates.io ownership check to use GH actor instead of runwasi committers
  .github/workflows/release.yml
Labels: T-CI

#957 Move modules and items around
  crates/containerd-shim-wamr/src/instance.rs
  crates/containerd-shim-wamr/src/main.rs
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/README.md
  crates/containerd-shim-wasm/src/containerd/client.rs
  crates/containerd-shim-wasm/src/containerd/lease.rs
  crates/containerd-shim-wasm/src/containerd/mod.rs
  crates/containerd-shim-wasm/src/lib.rs
  crates/containerd-shim-wasm/src/sandbox/context.rs
  crates/containerd-shim-wasm/src/sandbox/mod.rs
  crates/containerd-shim-wasm/src/sandbox/oci.rs
  crates/containerd-shim-wasm/src/sandbox/path.rs
  crates/containerd-shim-wasm/src/shim/cli.rs
  crates/containerd-shim-wasm/src/shim/mod.rs
  crates/containerd-shim-wasm/src/shim/shim.rs
  crates/containerd-shim-wasm/src/shim/tests.rs
  crates/containerd-shim-wasm/src/sys/unix/container/executor.rs
  crates/containerd-shim-wasm/src/sys/unix/container/instance.rs
  crates/containerd-shim-wasm/src/test/signals.rs
  crates/containerd-shim-wasmedge/src/instance.rs
  crates/containerd-shim-wasmedge/src/main.rs
  crates/containerd-shim-wasmer/src/instance.rs
  crates/containerd-shim-wasmer/src/main.rs
  crates/containerd-shim-wasmtime/src/http_proxy.rs
  crates/containerd-shim-wasmtime/src/instance.rs
  crates/containerd-shim-wasmtime/src/main.rs
Labels: C-wasmtime, C-containerd-shim-wasm, C-wamr, C-wasmedge, C-wasmer

#960 containerd-shim-wasm: bump version to 1.0.0-rc.1
  Cargo.lock
  Cargo.toml
  crates/containerd-shim-wasm/CHANGELOG.md
  crates/containerd-shim-wasm/Cargo.toml
Labels: C-containerd-shim-wasm
